



#MAIN-CONTAINER{
  display: flex;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  justify-content: left;
}



main{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.carousel{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 45%;
  justify-content: center;
  align-items: center;  
}

.page{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.filters{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 20%;
  width: 40%;
  justify-content: left;
  align-items: center;
  background-color: #8BCBC8;
  border: solid;
  border-color: cornflowerblue;
  border-width: 4px;
  margin-bottom: 5px;
  margin-top: 4px;
  border-radius: 40px;
}

.filter-label{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 15%;
  margin: 10px;
  justify-content: center;
  align-items: center; 
  
}

.filter-node{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 17%;
  border-radius: 50%;
  background-color: cornflowerblue;
  margin: 10px;
  justify-content: center;
  align-items: center; 
  border: none;  
}

.information{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background-color: white;
  justify-content: center;
  align-items: center; 
  border: solid;
  border-color: cornflowerblue;
  border-radius: 40px;
  overflow: hidden;
  border-collapse: collapse;
  margin: 10px;
}

.arrow{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 12vh;
  width: 12vh;
  margin: 0px;
  background-color: #8BCBC8;
  margin: 2px;
  border-radius: 300px;
  justify-content: center;
  align-items: center;  
  border: none;
}

.pet{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 80%;
  width: 60%;
  margin: 0px;
  justify-content: center;
  align-items: center; 
  border: solid;
  border-width: 5px;
  overflow: hidden;
  border-radius: 100px;
  border-color: #3C2E3D;
}

.animal-pic{
  height: 100%;
  width: 100%;
}

.arrowImg{
  height: 80%;
  width: 60%;
}

.info-row{
  display: flex;
  height: 12.5%;
  width: 100%;
  direction: row;
}

.label{
  display: flex;
  height: 95%;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin-right: 4px;  
  border: solid;
  border-color: cornflowerblue;
  background-color: #8BCBC8;
}

.labelText {
    font-family: 'Helvetica';
    justify-content: center;
    align-items: center;  
    fill: whitesmoke;
    color: whitesmoke;
    font-size: 20px;
}

#filterLabel {
    font-family: 'Lemon';
    justify-content: center;
    align-items: center;  
    fill: white;
    color: white;
}

.blurb{
  display: flex;
  height: 90%;
  width: 60%;
  align-items: center;
  margin-right: 5%;
}

.blurbText {
    font-family: 'Helvetica';
    justify-content: center;
    align-items: center;  
    fill: black;
    color: black;
    font-size: 20px;
}

.adoption{
  height: 85%;
  width: 8%;
}

.adopt{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 25px;
}

.cancel{
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.check{
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.X{
  height: 70%;
  width: 60%;
  justify-content: center;
  align-items: center;
}
