



#MAIN-CONTAINER{
  display: flex;
  flex-wrap: nowrap;
  background-color: cornflowerblue;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  justify-content: left;
}

header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 20%;
  width: 100%;
  background-color: darkred;
  margin-bottom: 5px;

}

main{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.carousel{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 45%;
  justify-content: center;
  align-items: center;  
}

.page{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.filters{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 20%;
  width: 40%;
  justify-content: left;
  align-items: center;
  background-color: lightskyblue;
  border: solid;
  border-color: coral;
  border-width: 4px;
  margin-bottom: 5px;
  margin-top: 4px;
}

.filter-label{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 15%;
  margin: 10px;
  justify-content: center;
  align-items: center; 
  
}

.filter-node{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 70%;
  width: 17%;
  border-radius: 50%;
  background-color: coral;
  margin: 10px;
  justify-content: center;
  align-items: center; 
  border: none;  
}

.information{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background-color: lightskyblue;
  justify-content: center;
  align-items: center; 
}

.arrow{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 15%;
  width: 15%;
  margin: 0px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;  
  border: none;
}

.pet{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 70%;
  width: 60%;
  margin: 0px;
  justify-content: center;
  align-items: center; 
  border: solid;
  border-width: 5px;
  border-color: coral;
}

.animal-pic{
  height: 100%;
  width: 100%;
}

.arrowImg{
  height: 100%;
  width: 100%;
}

.info-row{
  display: flex;
  height: 12.5%;
  width: 100%;
  direction: row;
}

.label{
  display: flex;
  height: 95%;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin-right: 4px;  
  background-color: coral;
}

.labelText {
    font-family: 'Lemon';
    justify-content: center;
    align-items: center;  
    fill: whitesmoke;
    color: whitesmoke;
}

#filterLabel {
    font-family: 'Lemon';
    justify-content: center;
    align-items: center;  
    fill: coral;
    color: coral;
}

.blurb{
  display: flex;
  height: 90%;
  width: 60%;
  align-items: center;
  margin-right: 5%;
}

.blurbText {
    font-family: 'Jua';
    justify-content: center;
    align-items: center;  
    fill: black;
    color: black;
}

.adoption{
  height: 150%;
  width: 10%;
}

.adopt{
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.cancel{
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.check{
  height: 100%;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.X{
  height: 80%;
  width: 60%;
  justify-content: center;
  align-items: center;
}

#top-border {
    background-color: cornflowerblue;
    margin: 0px;
    border: 20px solid white;
    border-bottom-color: coral;
    
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 60px;
}