html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    line-height: 2vh;
}
#profilegrid {
    display: flex;
    flex-direction: row;
}
#personal {
    display: flex;
    flex-direction: column;    
    align-items: center;
    min-width: 20vw;
    max-width: 25vw;
}

#info {
    margin: 4vh;
    min-width: 70vw;
    max-width: 75vw;
}

#mypets {
    height: 36vh;
    width: 18vw;
    padding: 0;
    overflow-y: auto;
}

#bio {
    height: 9.5vh;
}
#following {
    height: 10vh;
}
#questions {
    height: 10vh;
}
#followedDefault {
    display: none;
}

.card {
    margin: 4vh;
    height: 70vh;
    background-color: whitesmoke;
    border: .6vh solid var(--cranberry-color);
    border-radius: 2vh;
    padding: .6vh;
    padding-top: 1vh;
}
.subcard {
    margin: 1vh;
    padding: 2vh;
    padding-top: 1vh;
    background-color: white;
    border: .6vh solid var(--icing-color);
    border-radius: 2vh;
}
.field:disabled {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    line-height:5vh;
    min-width: 10vw;
    border: .2vh solid whitesmoke;
    border-radius: 0.5vh;
    padding: 0 0.5vw;
    background-color: white;
}

.mybutton {
    stroke: cornflowerblue;
    stroke-width: 5px;
    fill: #FFFFFF00;
}

.mybutton:hover{
    stroke: var(--sakura-color);
    stroke-width: 10px;
    transition: all 200ms ease-out;
}

#followingPetContainer {
    font-size: 0;
    color: white;
}

.followingPet {
    width: 9vh;
    height: 9vh;
    border: 0.5vh solid cornflowerblue;
    margin: 1vh;
    border-radius: 50%;
    background-color: var(--blue-color);
    display: inline-flex;
    background-size: cover;
    background-position: center center;
  }
  .followingPet:hover {  
    margin: 0.5vh;
    border: 1vh solid var(--sakura-color);
    transition: all 200ms ease-out;
  }