:root {
    --background-orange: cornflowerblue;
}



#MAIN-CONTAINER{
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--background-orange);
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  justify-content: left;
}

header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 30%;
  width: 100%;
  background-color: darkred;

}

main{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 70%;
  width: 100%;
}

#non-categories{
  display: flex;
  flex-wrap: nowrap;
  height: 30%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-pic{
    display: flex;
    height: 65%;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.non-cat{
    display: flex;
    height: 65%;
    width: 10%;
    border-radius: 50px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

#categories{
  display: flex;
  flex-wrap: nowrap;
  height: 70%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.category{
    display: flex;
    height: 80%;
    width: 33%;
    margin: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.img{
  height: 120%;
  width: 90%;
}


#knowledge{
  height: 90%;
  width: 70%;
}

#top-border {
    background-color: cornflowerblue;
    margin: 0px;
    border: 20px solid white;
    border-bottom-color: coral;
    
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 60px;
}