:root {
    --blue-color: #8BCBC8;
    --icing-color: #DAE9E4;
    --orange-color: #FDAE84;
    --sakura-color: #ECC7C0;
    --cranberry-color: #3C2E3D;
}

#MAIN-CONTAINER{
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--cranberry-color);
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  justify-content: left;
}


a {
    text-decoration: none !important;
}
main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 80%;
  width: 100%;
  background-color: var(--icing-color);
  justify-content: center;
  align-self: center;
}

div#main, div.sides, div.catagories, div.type{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lemon';
  color: var(--cranberry-color);
}

.arrow{
  width: 75px;
  height: 75px;
  opacity: .5;
}
.arrow:hover{
  opacity: 1;

}
#left_arrow{
  margin-right: 1vw;
}
#right_arrow{
  margin-left: 1vw;
}
#up_arrow{
  margin-bottom: 1vw;
}
#down_arrow{
  margin-top: 1vw;
}

.type{
  width: 15vw;
  height: 15vw;
  margin: 2vw;
  border-radius: 50%;
  background-color: var(--blue-color);
  display: inline-flex;
  background-size: cover;
  background-position: center center;
  transition: width .1s linear;
  transition: height .1s linear;
}

.text_label{
  font-weight: 1000;
  font-size: 3.5vw;
  color: var(--sakura-color);
  text-shadow: -2px 0 var(--cranberry-color), 0 2px var(--cranberry-color), 2px 0 var(--cranberry-color), 0 -2px var(--cranberry-color);
  opacity: 1;
}

.type:hover {
  width: 20vw;
  height: 20vw;
  margin: 1vw;
  border: 5px solid var(--sakura-color);
  transition: width .1s linear;
  transition: height .1s linear;
}
.type:hover .text_label {
  opacity: 1;
  transition: opacity .2s linear;
}
.selection {
  display: flex;
  flex-direction: column;
}
.carousel{
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  flex-direction: column;
  width: 25vw;
}

.pet_pic{
  width: 15vw;
  height: 15vw;
  margin: 2vw;
  border-radius: 50%;
  background-color: var(--blue-color);
  display: inline-flex;
  background-size: cover;
  background-position: center center;
}

.pet_page{
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.filter_box{
  justify-content: center;
  align-items: center;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  /*display: inline-flex;*/
  display: none; 
  margin: .3vw;
}

#filter_label{
  display: flex;
  font-family: 'Lemon';
  font-size: 3vh;
  color: var(--cranberry-color);
  margin-right: .5vw;
}
.filter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  width: 35px;
  height: 35px;
  margin: .2vw;
  border-radius: 50%;
  display: inline-flex;
  background-color: var(--cranberry-color);
  color: var(--blue-color);
}

.information_box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cranberry-color);
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Helvetica';
}

.information{
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  width: 90%;
  height: 95%;
  background-color: whitesmoke;
  border: 6px solid var(--cranberry-color);
  border-radius: 20px;
}

.info_labels{
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  width: 15%;
}
.pet_infos{
  display: flex;
  flex-direction: column;
  width: 90%;
}

#favorite{
  height: 8vh;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
  /*border: 3px solid var(--cranberry-color);*/
}

#favorite:hover{
  margin-top: 0; 
  height: 9vh;
  transition: all 100ms ease-out;
}
.side_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.info_label{
  font-family: 'Helvetica';
  font-weight: 1000;
  font-size: 2vh;
  line-height: 4vh;
}
.pet_info{
  font-family: 'Helvetica';
  font-size: 2vh;
  line-height: 4vh;
}

.posts_grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  min-height: 37vh;
  overflow-y: auto;

}
.post{
  height: 22vh;
  width: 22vh; 
  background-size: cover;
  background-position: center center;
  /* border-radius: 3px; */
  border: 1px solid var(--cranberry-color);
  /* margin-right: 1vw; */
  /* margin-bottom: 1vw; */
}


#adopt_btn{
  height: 6vh;
  width: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icing-color);
  background-color: var(--cranberry-color);
  margin: 1vw;
  border-radius: 10px;
}
#adopt_container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icing-color);
  background-color: var(--cranberry-color);
  font-family: 'Lemon';
}


.check{
  height: 100%;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.adoptionInfo{
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  width: 75%;
  height: 65%;
  background-color: var(--icing-color);
  border: 6px solid var(--cranberry-color);
  border-radius: 10px;
}


.adoption-information-box{
  display: flex;
  justify-content: center;
  align-items: top;
  color: var(--cranberry-color);
  width: 100%;
  height: 100%;
  flex-direction: row;
  font-family: 'Helvetica';
}

.adoption-filter-box{
  justify-content: center;
  align-items: center;
  font-family: 'Lemon';
  width: 100%;
  height: 45%;
  color: var(--cranberry-color);
  display: inline-flex;
  margin-top: .3vw;
}



#hovermenu {
    top: 0;
    left: 0;
    background-color: #00000088;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#signupmessage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: var(--icing-color);
    border: solid 8px var(--cranberry-color);
    border-radius: 20px;
}

#warning{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45%;
  width: 80%;
  font-family: 'Lemon';
  color: var(--cranberry-color);
  font-size: 5vh
}

#yesorno{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  height: 35%;
  width: 80%;
}

.yesnobutton{
  height:70%;
  width:40%;
  background-color: var(--cranberry-color);
  border-radius: 10px;
  border: none;
}

.yesnocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
  width:100%;
  font-family: 'Lemon';
  color: white;
  font-size: 5vh;
}