:root {
    --main-color: #8BCBC8;
    --icing-color: #DAE9E4;
    --accent-color: #FDAE84;
    --sakura-color: #ECC7C0;
    --cranberry-color: #3C2E3D;
}

#MAIN-CONTAINER{
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--cranberry-color);
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  justify-content: left;
}

header{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 30%;
  width: 100%;
  background-color: darkred;

}

main{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--icing-color);
  justify-content: center;
  align-self: center;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;

}

.arrow{
  width: 100px;
  height: 100px;
  margin: 20px;
  opacity: .5;
}
.arrow:hover{
  opacity: 1;

}
#left_arrow{
  position: relative;
  top: calc(50vh - 80px);
  left: 0%;
}
#right_arrow{
  position: relative;
  top: calc(50vh - 80px);
}

.type{
  width: 15vw;
  height: 15vw;
  margin: 2vw;
  border-radius: 50%;
  background-color: var(--main-color);
  display: inline-flex;
  background-size: cover;
  background-position: center center;
  transition: width .1s linear;
  transition: height .1s linear;

}

.text_label{
  font-weight: 1000;
  font-size: 5vw;
  color: var(--main-color);
  text-shadow: -1px 0 var(--cranberry-color), 0 1px var(--cranberry-color), 1px 0 var(--cranberry-color), 0 -1px var(--cranberry-color);
  opacity: 0;
  transition: opacity .1s linear;
}

.type:hover {
  width: 20vw;
  height: 20vw;
  margin: 1vw;
  border: 2px solid var(--main-color);
  transition: width .1s linear;
  transition: height .1s linear;
}
.type:hover .text_label{
  opacity: 1;
  transition: opacity .2s linear;
}

.catagories{
  display: flex;
}
