:root {
    --main-color: #8BCBC8;
    --accent-color: #FDAE84;
}

.html {
    margin: 0px;
    padding: 0px;
}

#top-border {
    background-color: var(--main-color);
    margin: 0px;
    border: 20px solid white;
    border-bottom-color: var(--accent-color);
    
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 60px;
}

#body {
    background: #e9f0fc;
}

.finger {
    fill: var(--main-color);
    /* stroke: tomato; */
}
.pad {
    fill: var(--main-color)
    /* stroke: tomato; */
}
.mainbutton {
    stroke: cornflowerblue;
    stroke-width: 5;
    fill: #FFFFFF00;
}

.mainbutton:hover {
    stroke: var(--accent-color);
    stroke-width: 10;
}

.mainbuttontext {
    font-family: 'Lemon';
    fill: white;
}

.profiletext {
    font-family: 'Lemon';
    fill: var(--main-color);
    font-size: 40px;
}

#search {
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 5px;
    text-align: left;
    font-family: 'Lemon', cursive; 
    font-size: 45px;
    border: none;
    border-radius: 20px;
    width: 400px;
}
::placeholder {
    color: white;
}

#search:hover, #search:focus {
    background-color: var(--accent-color);
    color: black;
    opacity: .9;
}
#searchbutton {
    font-size: 40px;
    background-color: var(--main-color);
    color: white;
    border: none;
}

button:hover {
    opacity:1;
}