:root {
    --icing-color: #DAE9E4;
    --blue-color: #8BCBC8;
    --sakura-color: #ECC7C0;
    --cranberry-color: #3C2E3D;
    --orange-color: #FDAE84;
    --main-color: var(--cranberry-color);
    --accent-color: var(--blue-color);


}

.html {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
}
body {
    margin: 0px !important;
    padding: 0px !important;
}

#top-border {
    margin: 0 !important;
    background-color: var(--main-color);
    border: 20px solid white;
    border-bottom-color: var(--accent-color);
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 60px;
}

#body {
    background: #e9f0fc;
}

.finger {
    fill: var(--main-color);
    /* stroke: tomato; */
}
.pad {
    fill: var(--main-color)
    /* stroke: tomato; */
}
.mainbutton {
    stroke: cornflowerblue;
    stroke-width: 5;
    fill: #FFFFFF00;
}

.mainbutton:hover {
    stroke: var(--accent-color);
    stroke-width: 10;
}

.mainbuttontext {
    font-family: 'Lemon';
    fill: white;
}

.navbartext {
    font-size: 15px;
    font-family: 'Lemon';
    fill: white;
}

.profiletext {
    font-family: 'Lemon';
    fill: var(--main-color);
    font-size: 40px;
}

#search {
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 5px;
    text-align: left;
    font-family: 'Lemon', cursive; 
    vertical-align: text-top;
    font-size: 45px;
    border: none;
    border-radius: 20px;
    width: 400px;
}
::placeholder {
    color: white;
}

#search:hover, #search:focus {
    background-color: var(--accent-color);
    color: black;
    opacity: .9;
}
#searchbutton {
    font-size: 40px;
    background-color: var(--main-color);
    vertical-align: text-top;
    color: white;
    border: none;
    line-height: 60px;
}

button:hover {
    opacity:1;
}