.html {
    margin: 0px;
    padding: 0px;
}

#top-border {
    background-color: cornflowerblue;
    margin: 0px;
    border: 20px solid white;
    border-bottom-color: coral;
    
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 60px;
}

#body {
    background: #e9f0fc;
}

.finger {
    fill: cornflowerblue;
    /* stroke: tomato; */
}
.pad {
    fill: cornflowerblue;
    /* stroke: tomato; */
}
.mainbutton {
    stroke: #4668A5;
    stroke-width: 5;
    fill: white;
}

.mainbutton:hover {
    stroke: coral;
    stroke-width: 10;
    fill: white;
}

.mainbuttontext {
    font-family: 'Lemon';
    fill: whitesmoke;
}