:root {
    --blue-color: #8BCBC8;
    --icing-color: #DAE9E4;
    --orange-color: #FDAE84;
    --sakura-color: #ECC7C0;
    --cranberry-color: #3C2E3D;
    --main-color: var(--cranberry-color);
    --accent-color: var(--orange-color);
}

.html {
    margin: 0px !important;
    padding: 0px !important;
    height: 100vh;
    display: inline-block;
}
body {
    margin: 0px !important;
    padding: 0px !important;
    height: 80vh;
    background-color: var(--cranberry-color);
}
#main {
    background-color: var(--icing-color);
    height: 80vh;
}

#top-border {
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    
    background-color: var(--main-color);
    /* border: 20px solid var(--blue-color); */
    align-items: center;
    color: white;
    padding: .5vh;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 6vh;
}
.title {
    color: white;
    padding: .5vh;
    text-align: center;
    font-family: 'Lemon', cursive; 
    font-size: 6vh;
}
.title:link, .title:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.title:hover, .title:active {
    color: var(--icing-color);
}


.finger {
    fill: var(--main-color);
    /* stroke: tomato; */
}
.pad {
    fill: var(--main-color)
    /* stroke: tomato; */
}
.mainbutton {
    stroke: cornflowerblue;
    stroke-width: .5vh;
    fill: #FFFFFF00;
}

.mainbutton:hover {
    stroke: var(--sakura-color);
    stroke-width: 1vh;
}

.mainbuttontext {
    font-family: 'Lemon';
    fill: white;
    font-size: 1.6vh;
}

.navbartext {
    font-size: 1.6vh;
    font-family: 'Lemon';
    fill: white;
}

.profiletext {
    font-family: 'Lemon';
    fill: var(--main-color);
    font-size: 4vh;
}

#search {
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 0.5vh;
    margin-top: 0.7vh;
    text-align: left;
    font-family: Helvetica; 
    vertical-align: text-top;
    font-size: 4.5vh;
    border: none;
    border-radius: 2vh;
    width: 2vw;
}
::placeholder {
    color: white;
}

#search:hover, #search:focus {
    background-color: var(--accent-color);
    color: black;
    opacity: .9;
    width: 10vw;
}
#searchbutton {
    font-size: 4vh;
    margin-top: 0.7vh;
    background-color: var(--main-color);
    vertical-align: text-top;
    color: white;
    border: none;
    line-height: 6vh;
}

button:hover {
    opacity:1;
}